大文字小文字の違いを無視する:YES
忽略大小写:YES
_Rename.csvを利用する:NO
启用_Rename.csv:NO
_Replace.csvを利用する:YES
启用_Replace.csv:YES
マウスを使用する:YES
启用鼠标:YES
メニューを使用する:YES
显示菜单栏:YES
デバッグコマンドを使用する:NO
启用调试命令:NO
多重起動を許可する:YES
允许多重启动:YES
オートセーブを行なう:YES
自动保存进度:YES
キーボードマクロを使用する:YES
启用键盘宏:YES
ウィンドウの高さを可変にする:YES
允许调整窗口高度:YES
描画インターフェース:GRAPHICS
绘图界面:GRAPHICS
ウィンドウ幅:1150
窗口宽度:1150
ウィンドウ高さ:610
窗口高度:610
ウィンドウ位置X:0
窗口X坐标:0
ウィンドウ位置Y:0
窗口Y坐标:0
起動時のウィンドウ位置を指定する:NO
启动时固定窗口位置:NO
起動時にウィンドウを最大化する:NO
启动时将窗口最大化:NO
履歴ログの行数:10000
记录日志的行数:10000
PRINTCを並べる数:3
PRINTC并列数量:3
PRINTCの文字数:25
PRINTC文字数量:25
フォント名:MS Mincho
字体名称:MS Mincho
フォントサイズ:18
字体大小:18
一行の高さ:19
每行高度:19
文字色:255,255,255
背景色:0,0,0
選択中文字色:225,0,0
履歴文字色:192,192,192
フレーム毎秒:5
每秒帧数:5
最大スキップフレーム数:3
最大SKIP帧数:3
スクロール行数:1
滚动行数:1
無限ループ警告までのミリ秒数:5000
死循环超时警告(毫秒):5000
表示する最低警告レベル:1
最低显示警告等级:1
ロード時にレポートを表示する:NO
加载时显示报告:NO
ロード時に引数を解析する:NO
加载时解析参数:NO
呼び出されなかった関数を無視する:YES
忽略未被调用过的函数:YES
関数が見つからない警告の扱い:IGNORE
函数未找到时的警告处理:IGNORE
関数が呼び出されなかった警告の扱い:IGNORE
函数未被调用时的警告处理:IGNORE
ボタンの途中で行を折りかえさない:NO
不对按钮行折返换行:NO
サブディレクトリを検索する:YES
检索子目录:YES
読み込み順をファイル名順にソートする:NO
按文件名顺序读取:NO
表示するセーブデータ数:20
使用存档数量:20
eramaker互換性に関する警告を表示する:YES
显示eramaker兼容性相关警告:YES
システム関数の上書きを許可する:YES
允许重写系统函数:YES
システム関数が上書きされたとき警告を表示する:YES
重写系统函数时显示警告:YES
関連づけるテキストエディタ:notepad
关联文本编辑器:notepad
テキストエディタコマンドライン指定:USER_SETTING
编辑器运行参数:USER_SETTING
エディタに渡す行指定引数:
编辑器运行参数:
同名の非イベント関数が複数定義されたとき警告する:NO
重复定义非事件函数时显示警告:NO
解釈不可能な行があっても実行する:NO
执行未能解析的行:NO
CALLNAMEが空文字列の時にNAMEを代入する:NO
CALLNAME空字符串时代入NAME:NO
セーブデータをsavフォルダ内に作成する:YES
在sav文件夹中创建存档:YES
擬似変数RANDの仕様をeramakerに合わせる:NO
伪变量RAND符合eramaker规范:NO
関数・属性については大文字小文字を無視しない:NO
不忽略函数、属性大小写:NO
全角スペースをホワイトスペースに含める:YES
使用全角空格填充空白区域:YES
セーブデータをUTF-8で保存する:YES
以UTF-8格式保存存档:YES
ver1739以前の非ボタン折り返しを再現する:NO
重现ver1739前的非按钮折返:NO
内部で使用する東アジア言語:CHINESE_HANS
内部使用东亚语言:CHINESE_HANS
ONEINPUT系命令でマウスによる2文字以上の入力を許可する:NO
允许鼠标进行ONEINPUT系命令的多文字输入:NO
イベント関数のCALLを許可する:NO
允许CALL调用事件函数:NO
SPキャラを使用する:NO
使用SP角色:NO
セーブデータをバイナリ形式で保存する:YES
以二进制形式保存存档:YES
ユーザー関数の全ての引数の省略を許可する:NO
用户函数允许省略全部参数:NO
ユーザー関数の引数に自動的にTOSTRを補完する:NO
用户参数自动补充TOSTR:NO
FORM中の三連記号を展開しない:NO
展开FORM中的三连记号:NO
TIMESの計算をeramakerにあわせる:NO
TIMES的计算符合eramaker规范:NO
キャラクタ変数の引数を補完しない:NO
禁用角色变量的参数自动补全:NO
AllFilesSaveInUtf8:YES
全部以UTF-8编码输出文件:YES
AllFilesReadInUtf8:NO
全部以UTF-8编码读入文件:NO
画像固定表示のグループ数:0
图像固定显示行数:0
SHOP的物品专用PRINTC文字数:30
SHOP的物品专用PRINTC文字长度:30
画面エフェクト機能の画面更新間隔:20
画面效果的刷新间隔:20
フォント縁取り色:0,0,0
文字描边颜色:0,0,0
